* {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;

}

body {
    background-color: #d8d8d8ca;
}

li {
    list-style: none;
    padding: 3px;
}

a {
    text-decoration: none;
    color: black;
}

@media only screen and (min-width:390px) {
    .div2 {
        position: fixed;
        z-index: 999;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 60px;
        background-color: #fff;
        font-size: 16px;
        font-weight: 300;

    }

    #tp {
        color: #ce0e0e;
        font-size: 18px;
        font-weight: 500;
        text-decoration: #ce0e0e underline;
    }

    .div {
        z-index: 999;
        margin-top: 60px;
        display: flex;
        justify-content: center;
        position: fixed;
        background-color: pink;
        height: 80px;
        width: 100%;
        gap: 6px;
        padding-top: 40px;
    }

    .div p {
        cursor: pointer;
        color: rgb(105, 112, 2);
        font-size: 10px;
        font-weight: 700;

    }

    .div p:hover {
        color: rgb(192, 80, 192);
        text-decoration: underline;
    }

    .co {
        display: block;
        gap: 5px;
        margin-left: -3px;
    }

    .ca {
        display: block;
        gap: 5px;
        margin-left: 10px;
    }


    img {
        margin-top: -50px;
        width: 170px;
    }

    #butt1 {
        position: relative;
        z-index: 0;
        width: 55px;
        height: 25px;
        margin: -40px -5px;
        color: #fff;
        cursor: pointer;
        font-size: 10px;
        font-weight: 700;
        border: none;
        outline: none;
        border-radius: 100%;
    }

    #butt1::after {
        content: "";
        z-index: -1;
        position: absolute;
        background-color: #002;
        width: 100%;
        height: 100%;
        left: 0;
        top: 0;
        border-radius: 100%;
        background: transparent;
    }

    #butt1::before {
        content: "";
        background: linear-gradient(45deg,
                orange, blue, pink,
                red, green, yellow);
        position: absolute;
        top: -2px;
        left: -2px;
        background-size: 500%;
        z-index: -1;
        width: calc(100% + 5px);
        height: calc(100% + 5px);
        filter: blur(6px);
        transition: opacity .3s ease-in-out;
        border-radius: 100%;
        opacity: 2;

        animation: glow 20s linear infinite;
    }

    @keyframes glow {
        0% {
            background-position: 0 0;
        }

        50% {
            background-position: 400% 0;
        }

        100% {
            background-position: 0 400%;
        }
    }

    #butt1:hover::before {
        opacity: 2;
        background: linear-gradient(45deg,
                #000000c0, rgb(223, 145, 0), #000000dc);
        filter: blur(8px);
        animation: glow 40s linear infinite;

    }

    #butt1:hover::after {
        background: transparent;
    }

    #butt1:active {
        color: #ce0e0e;
        background: linear-gradient(45deg,
                #000000c0, rgb(240, 6, 17), #000000dc);
        font-weight: bold;

    }

    .bgimg {

        padding: 220px 20px;
        z-index: -1;
        background-image: url(../img/download\ \(1\).jpg);
        background-size: 75%;
        background-repeat: repeat;
        width: 100%;
        height: 400px;
        opacity: 1;
    }

    #jo {
        color: #10363f;
        font-size: 50px;
        font-weight: 700;

    }

    #joword {
        letter-spacing: 1px;
        font-size: 20px;
        margin-top: 10px;
        color: rgb(204, 228, 18);
    }

    .mnbox {
        z-index: 0;
        display: flex;
        justify-content: center;
        margin-top: 100px;
        width: 100%;
        height: 180px;
    }

    .picbox {
        z-index: 1;
        margin-top: -50px;
        background-color: rgb(227, 225, 225);
        width: 400px;
        height: 150px;
        box-shadow: 0px 0px 10px -1px;
        border-radius: 5px;
    }

    .boxpic {
        margin-top: 0px;
        width: 100%;
        height: inherit;
        border-radius: inherit;
    }

    .textbox {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 6px;
        z-index: 2;
        background-color: rgb(227, 225, 225);
        width: 400px;
        height: 150px;
        box-shadow: 0px 0px 20px -1px;
        border-radius: 5px;
        font-size: 25px;
        font-weight: 500;
        border: 5px solid rgb(186, 185, 185);
    }

    .textbox span {
        font-size: 35px;
        font-weight: 700;
        color: #ce0e0e;
    }

    .textbox:hover {
        box-shadow: #ce0e0e 0px 0px 20px -1px;
        border: 5px solid #ce0e0ea3;
    }

    .textbox span:hover {
        text-decoration: #ce0e0e underline;
    }

    .mnitbox {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: 20px;
    }

    .itdiv {
        display: flex;
        justify-content: center;
        gap: 20px;
        background-color: rgb(227, 225, 225);

    }

    .item {
        height: 160px;
        width: 115px;
        border-radius: 5px;
        box-shadow: 0px 0px 8px -1px;
        background-color: rgb(227, 225, 225);
    }

    .item:hover {
        box-shadow: #ce0e0e 0px 0px 25px -2px;
    }




    .imgbox {

        width: 100%;
        height: 65%;
        background-color: #ce0e0e;
    }

    .imgpic {
        margin-top: 0px;
        height: 100%;
        width: 100%;
    }

    .texbox {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 35%;
        gap: 8px;
        font-size: 10.5px;
        background-color: rgb(227, 225, 225);
    }

    .texbox:hover {
        color: #ce0e0e;
        text-decoration: #ce0e0e underline;
    }

    .item:hover .texbox {
        cursor: pointer;
        background: linear-gradient(45deg, #b2adad, #ffffff, #b2adad);
    }

    .buy {
        font-size: 9px;
        font-weight: 600;
        color: #fff;
        height: 30px;
        width: 30px;
        border-radius: 9px;
        border: 1px solid white;
        background-color: rgb(34, 163, 34);
    }

    .buy:hover {
        cursor: pointer;
        background-color: green;
    }

    .more {
        height: 80px;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .mor {
        padding-top: 15px;
        height: 50px;
        width: 100px;
        font-size: 15px;
        font-weight: 600;
        border-radius: 5px;
        border: none;
        background-color: #ce0e0e;
        color: #fff;

    }

    .mor span {
        color: #ffffff02;
    }

    .mor:hover {
        background: linear-gradient(90deg, #9a0505f6, #db7777d2, #9a0505f6);
        padding-top: 0px;
        width: 120px;
    }

    .mor:hover span {

        color: #ffffff;
    }

    #hdbox{
        background:linear-gradient(45deg, rgba(101, 174, 203, 0.821),#d58b8b ) ;
        margin-top: 70px;
        margin-bottom: 50px;
        width: 100%;
        height: 50px;
        display: flex;
        justify-content: center;
        align-content: center;
        box-shadow: 6px 6px 7px -5px;
    
    }
    #hd{
        width: 70%;
        font-size: 30px;
        font-weight: 700;
        font-style: italic;
        color: #ce0e0e;
    }


}

@media only screen and (min-width:769px) {

    .div {
        z-index: 999;
        margin-top: 60px;
        display: flex;
        justify-content: center;
        position: sticky 40px;
        background-color: red;
        height: 100px;
        width: 100%;
        gap: 80px;
        padding: 50px 300px;

    }

    .div p {
        cursor: pointer;
        color: rgb(247, 243, 36);
        font-size: 20px;
        font-weight: 600;
    }

    .div p:hover {
        color: plum;
        text-decoration: underline;
    }

    .co {
        display: flex;
        gap: 5px;
    }

    .ca {
        display: flex;
        gap: 5px;
    }

    img {
        margin-top: -40px;
        width: 300px;
    }

    #butt1 {
        position: relative;
        z-index: 0;
        width: 130px;
        height: 50px;
        margin: -30px 10px;
        color: #fff;
        cursor: pointer;
        font-size: 20px;
        font-weight: 700;
        border: none;
        outline: none;
        border-radius: 13px;
    }

    #butt1::after {
        content: "";
        z-index: -1;
        position: absolute;
        background-color: #002;
        width: 100%;
        height: 100%;
        left: 0;
        top: 0;
        border-radius: 11px;
        background: transparent;
    }

    #butt1::before {
        content: "";
        background: linear-gradient(45deg,
                orange, blue, pink,
                red, green, yellow);
        position: absolute;
        top: -2px;
        left: -2px;
        background-size: 500%;
        z-index: -1;
        width: calc(100% + 5px);
        height: calc(100% + 5px);
        filter: blur(6px);
        transition: opacity .3s ease-in-out;
        border-radius: 11px;
        opacity: 2;

        animation: glow 20s linear infinite;
    }

    @keyframes glow {
        0% {
            background-position: 0 0;
        }

        50% {
            background-position: 400% 0;
        }

        100% {
            background-position: 0 400%;
        }
    }

    #butt1:hover::before {
        opacity: 2;
        background: linear-gradient(45deg,
                #000000c0, rgb(223, 145, 0), #000000dc);
        filter: blur(8px);
        animation: glow 40s linear infinite;

    }

    #butt1:hover::after {
        background: transparent;
    }

    #butt1:active {
        color: #ce0e0e;
        background: linear-gradient(45deg,
                #000000c0, rgb(240, 6, 17), #000000dc);
        font-weight: bold;

    }

    .div2 {
        z-index: 999;
        position: fixed;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 60px;
        background-color: #fff;
        font-size: 18px;
        font-weight: 400;

    }

    #tp {
        color: #ce0e0e;
        font-size: 20px;
        font-weight: 600;
        text-decoration: #ce0e0e underline;
    }


    .bgimg {
        padding: 400px 20px;
        z-index: -1;
        background-image: url(../img/download\ wedd.jpg);
        background-size: 75%;
        background-repeat: repeat;
        width: 100%;
        height: 800px;
        opacity: 0.6;

    }

    #jo {
        color: #ce0e0e;
        font-size: 100px;
        font-weight: 700;


    }

    #joword {
        letter-spacing: 1px;
        font-size: 45px;
        margin-top: 10px;
        color: #002;
    }

    .mnbox {
        z-index: 0;
        display: flex;
        justify-content: center;
        margin-top: 100px;
        width: 100%;
        height: 300px;
    }

    .picbox {
        z-index: 1;
        margin-top: -50px;
        background-color: rgb(227, 225, 225);
        width: 400px;
        height: 250px;
        box-shadow: 0px 0px 10px -1px;
        border-radius: 5px;
    }

    .boxpic {
        height: 100%;
        width: 100%;
        border-radius: inherit;
    }

    .textbox {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 6px;
        z-index: 2;
        background-color: rgb(227, 225, 225);
        width: 400px;
        height: 250px;
        box-shadow: 0px 0px 20px -1px;
        border-radius: 5px;
        font-size: 25px;
        font-weight: 500;
        border: 5px solid rgb(186, 185, 185);
    }

    .textbox span {
        font-size: 35px;
        font-weight: 700;
        color: #ce0e0e;
    }

    .textbox:hover {
        box-shadow: #ce0e0e 0px 0px 20px -1px;
        border: 5px solid #ce0e0ea3;
    }

    .textbox span:hover {
        text-decoration: #ce0e0e underline;
    }

    .mnitbox {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: 20px;
    }

    .itdiv {
        display: flex;
        justify-content: center;
        gap: 20px;
        background-color: rgb(227, 225, 225);

    }

    .item {
        height: 300px;
        width: 400px;
        border-radius: 5px;
        box-shadow: 0px 0px 8px -1px;
        background-color: rgb(227, 225, 225);
    }

    .item:hover {
        box-shadow: #ce0e0e 0px 0px 25px -2px;
    }




    .imgbox {

        width: 100%;
        height: 65%;
        background-color: #ce0e0e;
    }

    .imgpic {
        margin-top: 0px;
        height: 100%;
        width: 100%;
    }

    .texbox {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 35%;
        gap: 60px;
        font-size: 20px;
        background-color: rgb(227, 225, 225);
    }

    .texbox:hover {
        color: #ce0e0e;
        text-decoration: #ce0e0e underline;
    }

    .item:hover .texbox {
        cursor: pointer;
        background: linear-gradient(45deg, #b2adad, #ffffff, #b2adad);
    }

    .buy {
        font-size: 15px;
        font-weight: 600;
        color: #fff;
        height: 50px;
        width: 100px;
        border-radius: 9px;
        border: 1px solid white;
        background-color: rgb(34, 163, 34);
    }

    .buy:hover {
        cursor: pointer;
        background-color: green;
    }

    .more {
        height: 80px;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .mor {
        padding-top: 15px;
        height: 50px;
        width: 100px;
        font-size: 15px;
        font-weight: 600;
        border-radius: 5px;
        border: none;
        background-color: #ce0e0e;
        color: #fff;

    }

    .mor span {
        color: #ffffff02;
    }

    .mor:hover {
        background: linear-gradient(90deg, #9a0505f6, #db7777d2, #9a0505f6);
        padding-top: 0px;
        width: 120px;
    }

    .mor:hover span {

        color: #ffffff;
    }
#hdbox{
    background:linear-gradient(45deg, rgba(101, 174, 203, 0.821),#d58b8b ) ;
    margin-top: 70px;
    margin-bottom: 50px;
    width: 100%;
    height: 70px;
    display: flex;
    justify-content: center;
    align-content: center;
    box-shadow: 6px 6px 7px -5px;

}
#hd{
    width: 50%;
    font-size: 50px;
    font-weight: 700;
    font-style: italic;
    color: #ce0e0e;
}









}